@model InventoryMVC.Models.ViewModels.CategoryVM

<h2>Edit Category</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>